.Aboutme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    padding: 10px;
  }
  
  
  main>h2{
    text-align: center;
    margin: 40px;
  }

  .Aboutme > p{
    width: auto;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }
