.project-card {
  width: 50%;
     height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 2px solid var(--divider);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  
  .project-card img {
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
    justify-content: center;
    height: 250px;           
    object-position: center;
    padding: 25px;
  }
  .project-card > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    gap: 20px;
  }

  @media (max-width: 770px) {
    .project-card{
      width: auto;
    }
    .project-card > .header {
      display: flex;
      flex-direction: column;
    }
  }


  .project-card  > .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 5px;
    padding: 5px;
    gap: 20px;
  }

  .project-card > .detail > .tech {
    color: var(--divider);
    margin: 10px;
  }