footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  @media (max-width: 770px) {
    footer {
      padding: 2px;
      margin: 5px;
      }
  }
  
  footer > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
